## Importing required Libraries

In [50]:
# Importing libraries required for handling the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing metrics library
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# Importing libraries for preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Importing library for splitting the data
from sklearn.model_selection import train_test_split

# Importing regression models from scikit-learn
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor

## Reading the data

In [52]:
df = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/Fifa18.csv")
df.head(1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (23,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0               Name  Age  ...    RW   RWB    ST
0           0  Cristiano Ronaldo   32  ...  91.0  66.0  92.0

[1 rows x 75 columns]

## Dropping columns

In [53]:
df.drop(["Unnamed: 0","Flag","Club","Photo","Club Logo","Value","Wage"],axis=1,inplace=True)
df.head()

                Name  Age Nationality  Overall  ...    RS    RW   RWB    ST
0  Cristiano Ronaldo   32    Portugal       94  ...  92.0  91.0  66.0  92.0
1           L. Messi   30   Argentina       93  ...  88.0  91.0  62.0  88.0
2             Neymar   25      Brazil       92  ...  84.0  89.0  64.0  84.0
3          L. Suárez   30     Uruguay       92  ...  88.0  87.0  68.0  88.0
4           M. Neuer   31     Germany       92  ...   NaN   NaN   NaN   NaN

[5 rows x 68 columns]

## Limiting dataset to one country

In [55]:
df_germany = df.loc[df['Nationality']=='Germany']

In [54]:
df.describe()

                Age       Overall  ...           RWB            ST
count  17981.000000  17981.000000  ...  15952.000000  15952.000000
mean      25.144541     66.247984  ...     57.698721     58.204050
std        4.614272      6.987965  ...      9.142825      9.181392
min       16.000000     46.000000  ...     31.000000     31.000000
25%       21.000000     62.000000  ...     51.000000     52.000000
50%       25.000000     66.000000  ...     58.000000     59.000000
75%       28.000000     71.000000  ...     64.000000     65.000000
max       47.000000     94.000000  ...     84.000000     92.000000

[8 rows x 31 columns]

In [19]:
df_germany.describe()

               Age      Overall  ...         RWB          ST
count  1140.000000  1140.000000  ...  995.000000  995.000000
mean     24.202632    65.900877  ...   57.634171   57.071357
std       4.197097     6.877570  ...    9.234963    8.968979
min      16.000000    46.000000  ...   35.000000   34.000000
25%      21.000000    62.000000  ...   51.000000   51.000000
50%      24.000000    66.000000  ...   58.000000   57.000000
75%      27.000000    69.000000  ...   64.000000   63.000000
max      36.000000    92.000000  ...   81.000000   83.000000

[8 rows x 31 columns]

In [56]:
print(df_germany.shape)
df_germany

(1140, 68)

               Name  Age Nationality  Overall  ...    RS    RW   RWB    ST
4          M. Neuer   31     Germany       92  ...   NaN   NaN   NaN   NaN
8          T. Kroos   27     Germany       90  ...  77.0  80.0  78.0  77.0
25       J. Boateng   28     Germany       88  ...  65.0  65.0  79.0  65.0
27       M. Hummels   28     Germany       88  ...  69.0  68.0  78.0  69.0
28          M. Özil   28     Germany       88  ...  76.0  83.0  58.0  76.0
...             ...  ...         ...      ...  ...   ...   ...   ...   ...
17892     L. Tigges   18     Germany       49  ...   NaN   NaN   NaN   NaN
17900   T. Krahnert   20     Germany       49  ...  45.0  47.0  47.0  45.0
17921      J. Schau   18     Germany       49  ...  43.0  44.0  50.0  43.0
17930   C. Gnerlich   18     Germany       49  ...  42.0  46.0  50.0  42.0
17975  T. Käßemodel   28     Germany       46  ...  41.0  41.0  38.0  41.0

[1140 rows x 68 columns]

## Cleaning Data

In [58]:
target = "Overall"
predictors = list(df.columns)
for r in [target,"Name","Age","Nationality","ID","Preferred Positions"]:
  predictors.remove(r)
print(target,predictors)

Overall ['Potential', 'Special', 'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control', 'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing', 'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking', 'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions', 'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties', 'Positioning', 'Reactions', 'Short passing', 'Shot power', 'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle', 'Strength', 'Vision', 'Volleys', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM', 'RS', 'RW', 'RWB', 'ST']

In [86]:
df_germany = df_germany.fillna(0)

for c in predictors:
  df_germany[c] = df_germany[c].replace('[\\+*\-*(_)*,]', '', regex=True).astype(float)
  scaler = StandardScaler((0,1))
  df_germany[c] = scaler.fit_transform(np.array(df_germany[c]).reshape(-1,1))

## Naive Playing 11

In [87]:
df_germany[:11]

             Name  Age Nationality  ...        RW       RWB        ST
4        M. Neuer   31     Germany  ... -2.367768 -2.389668 -2.397340
8        T. Kroos   27     Germany  ...  1.360421  1.315722  1.308477
25     J. Boateng   28     Germany  ...  0.661386  1.363227  0.730947
27     M. Hummels   28     Germany  ...  0.801193  1.315722  0.923457
28        M. Özil   28     Germany  ...  1.500228  0.365622  1.260349
52      T. Müller   27     Germany  ...  1.407024  0.840672  1.597241
55        M. Reus   28     Germany  ...  1.640035  0.793167  1.549114
77        B. Leno   25     Germany  ... -2.367768 -2.389668 -2.397340
78  M. ter Stegen   25     Germany  ... -2.367768 -2.389668 -2.397340
81    I. Gündoğan   26     Germany  ...  1.407024  1.173207  1.260349
99     J. Draxler   23     Germany  ...  1.500228  0.555642  1.452859

[11 rows x 68 columns]

## ML Predicted Playing 11

In [88]:
X = df_germany[predictors]
y = df_germany[target]
print(X.shape,y.shape)

(1140, 62) (1140,)

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state= 1)
mlpReg = MLPRegressor(max_iter=1700)
mlpReg.fit(X_train.values,y_train.values)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=1700,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [90]:
preds = mlpReg.predict(X_test)
score = r2_score(y_test,preds)
print(score)

-3.6640352620561227

In [91]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [92]:
preds_lr = lr.predict(X_test)
score_lr = r2_score(y_test,preds_lr)
print(score_lr)

-72.815685223185