In [1]:
# Importing libraries required for handling the data
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/Fifa19.csv")
df.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

## Data Cleaning

In [3]:
df.drop(["Unnamed: 0","Flag","Club","Photo","Club Logo", "ID"],axis=1,inplace=True)
df = df.replace(np.nan,0)
df.head()

                Name  Age  ... GKReflexes  Release Clause
0           L. Messi   31  ...        8.0         €226.5M
1  Cristiano Ronaldo   33  ...       11.0         €127.1M
2          Neymar Jr   26  ...       11.0         €228.1M
3             De Gea   27  ...       94.0         €138.6M
4       K. De Bruyne   27  ...       13.0         €196.4M

[5 rows x 83 columns]

## Data Preparation

Converting the Value and Wage to numbers

In [4]:
def convert(val):
    values = {'K': 1000, 'M': 1000000, '0':1}
    val = val.strip("€")
    if type(val) != float:
        unit = val[-1]
        val = pd.to_numeric(val[:-1]) * values[unit]
    return val.astype('float')

df['Value'] = df['Value'].apply(convert)
df['Wage'] = df['Wage'].apply(convert)


df[['Value', 'Wage']].head()

         Value      Wage
0  110500000.0  565000.0
1   77000000.0  405000.0
2  118500000.0  290000.0
3   72000000.0  260000.0
4  102000000.0  355000.0

Defining a funtion to seperate features which are already in a number format and ready to be used as machine learning inputs

In [5]:
def numColumns(col):
    t = type(df[col][0])
    if t == np.int64 or t == np.float64:
      # print(t,col)
      return col

numberPreds = []

for c in df.columns:
    temp = numColumns(c)
    if temp != None:
        numberPreds.append(temp)

#numberPreds

Seperating out the features to apply cleaning on

In [6]:
textCols = ["Name","Nationality","Position","Weak Foot","Preferred Foot", "Work Rate","Release Clause", "PositionClass","Age_Ranges",
            "Body Type","Real Face","Joined", "Loaned From","Contract Valid Until"]

regexCols = [c for c in df.columns if c not in numberPreds] # Keeping columns in string format
regexCols = [c for c in regexCols if c not in textCols] # Removing string features which are not useful/usable

Running Regex on features to replace the '+','-' from various position features, 'lbs' from weight, replacing " ' " with a "." from height.

In [7]:
df_cleaned = df.copy()

df_cleaned["Height"] = df_cleaned["Height"].replace('\'', '.', regex=True).astype(float)

for c in regexCols:
  df_cleaned[c] = df_cleaned[c].replace('([+|\-|(lbs)].+)', '', regex=True).astype(float)

predictors = numberPreds + regexCols # Concatinating all the usefull predictors together

df_cleaned

                     Name  Age  ... GKReflexes  Release Clause
0                L. Messi   31  ...        8.0         €226.5M
1       Cristiano Ronaldo   33  ...       11.0         €127.1M
2               Neymar Jr   26  ...       11.0         €228.1M
3                  De Gea   27  ...       94.0         €138.6M
4            K. De Bruyne   27  ...       13.0         €196.4M
...                   ...  ...  ...        ...             ...
18202        J. Lundstram   19  ...        9.0           €143K
18203  N. Christoffersson   19  ...       12.0           €113K
18204           B. Worman   16  ...       13.0           €165K
18205      D. Walker-Rice   17  ...        9.0           €143K
18206           G. Nugent   16  ...        9.0           €165K

[18207 rows x 83 columns]

In [8]:
df_cleaned.shape

(18207, 83)

In [11]:
countryNames = ["Germany","Spain","Italy","Brazil","Argentina","England"]

for name in countryNames:
  df_new = df_cleaned.loc[df_cleaned['Nationality']==name]
  if name == "England":
    fileName = name + "_validation_cleaned.csv"
  else:
    fileName = name + "_cleaned.csv"
  df_new.to_csv(fileName,index=False)
  print(fileName,"to csv done!")

Germany_cleaned.csv to csv done!
Spain_cleaned.csv to csv done!
Italy_cleaned.csv to csv done!
Brazil_cleaned.csv to csv done!
Argentina_cleaned.csv to csv done!
England_validation_cleaned.csv to csv done!