In [1]:
import pandas as pd

#Reading in the datasets
first = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/2015-2016.csv")
second = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/2016-2017.csv")
third = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/2017-2018.csv")
fourth = pd.read_csv("https://raw.githubusercontent.com/Brianc482/731_Group_Project/main/Data/2018-2019.csv")

#Dropping a constant column that only appears in two of the
#data sets
third.drop(["Div"],axis=1,inplace=True)
fourth.drop(["Div"],axis=1,inplace=True)

#Creating a frame to hold the data sets and concatenating
#into a single larger set
frame = [first, second, third, fourth]
df = pd.concat(frame)

#Cleaning up the datetime format so that all appear the same
df['Date'] = pd.to_datetime(df.Date)
df['Date'] = df['Date'].dt.strftime('%m-%d-%Y')
df.sort_values('Date')

#Displaying the transformed data set and some information
print(df)

           Date     HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0    08-08-2015  Bournemouth   Aston Villa     0     1   A     0     0   D
1    08-08-2015      Chelsea       Swansea     2     2   D     2     1   H
2    08-08-2015      Everton       Watford     2     2   D     0     1   A
3    08-08-2015    Leicester    Sunderland     4     2   H     3     0   H
4    08-08-2015   Man United     Tottenham     1     0   H     1     0   H
..          ...          ...           ...   ...   ...  ..   ...   ...  ..
375  12-05-2019    Liverpool        Wolves     2     0   H     1     0   H
376  12-05-2019   Man United       Cardiff     0     2   A     0     1   A
377  12-05-2019  Southampton  Huddersfield     1     1   D     1     0   H
378  12-05-2019    Tottenham       Everton     2     2   D     1     0   H
379  12-05-2019      Watford      West Ham     1     4   A     0     2   A

           Referee  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0    M Clattenburg  ...    2    3  13  13   6   3   3   4   0   0
1         M Oliver  ...    3   10  15  16   4   8   1   3   1   0
2          M Jones  ...    5    5   7  13   8   2   1   2   0   0
3          L Mason  ...    8    5  13  17   6   3   2   4   0   0
4           J Moss  ...    1    4  12  12   1   2   2   3   0   0
..             ...  ...  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     M Atkinson  ...    5    2   3  11   4   1   0   2   0   0
376         J Moss  ...   10    4   9   6  11   2   3   3   0   0
377      L Probert  ...    3    3   8   6   4   3   0   1   0   0
378     A Marriner  ...    3    9  10  13   7   4   0   2   0   0
379     C Kavanagh  ...    8    9  10  10   7   2   1   0   1   0

[1520 rows x 22 columns]

In [2]:
print("\nLet's see if there are any N/A values to drop.")
dropped_df = df.dropna()
print("The value should read \'True\' if there are no N/A values: ", df.equals(dropped_df))


print("\nThe list of keys are as follows:\n")
print(df.keys())

print("\nA statistical description of our data:\n")
print(df.describe())

Let's see if there are any N/A values to drop.
The value should read 'True' if there are no N/A values:  True

The list of keys are as follows:

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR'],
      dtype='object')

A statistical description of our data:

              FTHG         FTAG         HTHG         HTAG           HS  \
count  1520.000000  1520.000000  1520.000000  1520.000000  1520.000000
mean      1.547368     1.202632     0.666447     0.532237    14.012500
std       1.304418     1.182935     0.832158     0.749992     5.754854
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     0.000000     0.000000    10.000000
50%       1.000000     1.000000     0.000000     0.000000    13.000000
75%       2.000000     2.000000     1.000000     1.000000    17.000000
max       7.000000     7.000000     4.000000     4.000000    37.000000

                AS          HST          AST           HF           AF  \
count  1520.000000  1520.000000  1520.000000  1520.000000  1520.000000
mean     11.213816     4.712500     3.857895    10.373026    10.977632
std       4.760872     2.697055     2.286766     3.387182     3.498635
min       0.000000     0.000000     0.000000     0.000000     3.000000
25%       8.000000     3.000000     2.000000     8.000000     9.000000
50%      11.000000     4.000000     4.000000    10.000000    11.000000
75%      14.000000     6.000000     5.000000    12.250000    13.000000
max      30.000000    17.000000    15.000000    24.000000    26.000000

                HC           AC           HY           AY           HR  \
count  1520.000000  1520.000000  1520.000000  1520.000000  1520.000000
mean      5.769079     4.680263     1.549342     1.698026     0.053289
std       3.079156     2.682522     1.226839     1.264389     0.236113
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       4.000000     3.000000     1.000000     1.000000     0.000000
50%       5.000000     4.000000     1.000000     2.000000     0.000000
75%       8.000000     6.000000     2.000000     2.000000     0.000000
max      19.000000    15.000000     6.000000     9.000000     2.000000

                AR
count  1520.000000
mean      0.069079
std       0.258810
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       2.000000